<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/Clase9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Docente: Sebastian Duque


SERIES
---
Se usan para modelar

In [9]:
import pandas as pd #alias pd
pd.Series([145,142,35,13])

0    145
1    142
2     35
3     13
dtype: int64

In [11]:
import pandas as pd #alias pd
david= pd.Series([145,142,35,13],name="counts")  #convertió una lista en series, el nombre es conteo
print(type(david))
david

<class 'pandas.core.series.Series'>

0    145
1    142
2     35
3     13
Name: counts, dtype: int64

In [12]:
import pandas as pd #alias pd
david= pd.Series([145,142,35,13,"abc"],name="counts")  #cambio tipo de datos
print(type(david))
david

<class 'pandas.core.series.Series'>

0    145
1    142
2     35
3     13
4    abc
Name: counts, dtype: object

In [10]:
import pandas as pd #alias pd
david= pd.Series(["a","b","c"])  #convertió una lista en series
print(type(david))
david

<class 'pandas.core.series.Series'>

0    a
1    b
2    c
dtype: object

In [14]:
print(david.index)

RangeIndex(start=0, stop=5, step=1)

In [16]:
print(david.values)

[145 142 35 13 'abc']

In [17]:
print(type((david.values)))

<class 'numpy.ndarray'>

In [54]:
#El indice no necesariamente tiene que ser un número
david3 = pd.Series([145,142,38,13],name="counts",index=["juan","pedro","andrea","nicol"])
print(david3)
print("----")
print(david3.index)
print("----")
print(david3.values)

juan      145
pedor     142
andrea     38
nicol      13
Name: counts, dtype: int64
----
Index(['juan', 'pedor', 'andrea', 'nicol'], dtype='object')
----
[145 142  38  13]

In [52]:
david3["juan"]

145

In [51]:
david3[["andrea","juan"]]

andrea     38
juan      145
Name: counts, dtype: int64

Serie de números impares
----

1. A partir de una lista

In [43]:
import pandas as pd   #primero importar libreria Pandas
impares=pd.Series([1,3,5,7,9,11,13,15],name="impares")
print(impares)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
Name: impares, dtype: int64

2. A partir de la funcion range

In [34]:
import pandas as pd
impares=pd.Series(range(1,16,2),name="impares")
print(impares)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
Name: impares, dtype: int64

In [42]:
for i in range(1,16,2):
  print(i)

1
3
5
7
9
11
13
15

In [46]:
g2= pd.Series({"1969":7,"1970":[1,22]})
print(g2)

1969          7
1970    [1, 22]
dtype: object

In [55]:
cidys =pd.Series([10,7,1,22], index["1968","1969","1970","1971"])
print(cidys["1968"])

NameError: ignored

a partir de la serie de 1 al 15 de numeros impares, usando esta serie y vamos a obtener los valores del indice del 2 al valor 4

In [65]:
import pandas as pd  
impares=pd.Series([1,3,5,7,9,11,13,15])

#obtener los indices desde el 2 al 4
impares[2:5]

2    5
3    7
4    9
dtype: int64

Condicional para saber si es mayor a 10 hasta el elemento 5.
Se genera una serie de booleanos

In [66]:
impares>10

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

Me trae que valores son mayores a 10, para eso asignamos a esa variable mask y  filtramos la serie original

In [67]:
mask=impares>10

In [68]:
impares[mask]

5    11
6    13
7    15
dtype: int64

Modificar un valor
----

In [74]:
 cidys= pd.Series([10,7], index=["1969","1970"])
print(cidys)

 #Actualizar un valor
cidys["1969"]=3
 print("\n",cidys)

1969    10
1970     7
dtype: int64

 1969    3
1970    7
dtype: int64

In [ ]:
cidys=append(pd.Series(["1974":9])

Agrgar un valor
---

In [77]:
l=[1,2]
.append(3)
l

[1, 2, 3]

Eliminar valor
---

In [78]:
del l[1]
l

[1, 3]

In [79]:
cidys

1969    3
1970    7
dtype: int64

In [81]:
cidys["1970"]
cidys.loc["1970"]   #en la serie tenemos una sola columna pero en los dataframe si sirviria

7

In [82]:
cidys.iloc[0] #por el indice

3

ejercicio
----

In [83]:
impares

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [85]:
impares.iloc[2:4]

2    5
3    7
dtype: int64

In [86]:
impares.loc[2:4]  #incluyente

2    5
3    7
4    9
dtype: int64

In [92]:
fechas=pd.to_datetime(pd.Series(["sep 7,2001","9/8/2001","9-9-2001","10th of september 2021"]))
fechas

0   2001-09-07
1   2001-09-08
2   2001-09-09
3   2021-09-10
dtype: datetime64[ns]

In [90]:
cumple= pd.to_datetime(pd.Series(["17-12-1983","07-11-1964","30-05-1958"], index=["mio","ama","yo"]))
print(cumple)

mio   1983-12-17
ama   1964-07-11
yo    1958-05-30
dtype: datetime64[ns]