<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/Clase11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
pk= pd.read_csv('pokemon_data.csv', sep=",")
type(pk)
pk[0:6]
pk['catched']='False'   # creo una columna y le agreg√≥ false a todas las filas
pk.loc[pk['Type 1']== "Grass", "catched"]=True # selecciona pokemones tipo 1 a grass y en la columna catched se pone true
pk_type=pk["Type 1"].unique()
pk_type

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [59]:
for i in pk_type:
  print(i)
  pk.loc[pk['Type 1']== i, "catched"]=True
pk

Grass
Fire
Water
Bug
Normal
Poison
Electric
Ground
Fairy
Fighting
Psychic
Rock
Ghost
Ice
Dragon
Dark
Steel
Flying

       #                   Name   Type 1  ... Generation  Legendary  catched
0      1              Bulbasaur    Grass  ...          1      False     True
1      2                Ivysaur    Grass  ...          1      False     True
2      3               Venusaur    Grass  ...          1      False     True
3      3  VenusaurMega Venusaur    Grass  ...          1      False     True
4      4             Charmander     Fire  ...          1      False     True
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True     True
796  719    DiancieMega Diancie     Rock  ...          6       True     True
797  720    HoopaHoopa Confined  Psychic  ...          6       True     True
798  720     HoopaHoopa Unbound  Psychic  ...          6       True     True
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]