<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/Clase7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuación de funciones**

---
Recordemos el ejercicio de la clase pasada

In [4]:
def suma (*number):
  print(type(number))
  total=0
  for i in number:
    total+=i
  return total
suma(2,3,5,4)

<class 'tuple'>

14

In [7]:
#Al realizar el cambio y o edicion de la funcion suma que veniamos usando, se puede añadir n elementos para iterar la función definida

suma(1,2,5,6,7,9)  # me deja agregar mas de 4 elementos de porque usamos *number

<class 'tuple'>

30

El uso del doble asterisco **

---
El uso del doble asterisco nos permite tener como parámetro de entrada una lista de elementos en forma de clave y valor.
La forma de iterar será usando el comando *item()*.

In [9]:
def suma(**dado):
  suma=0
  for i,j in dado.items():  #i para llaves, j para elementos
    suma +=j  # son los valores j
  return suma
suma(a=3,b=30,c=7)

40

**Ampliemos la definición del comando Return**

---
1.