<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [3]:
import pandas as pd

In [113]:
    #CARGAR ARCHIVO
pokemon = pd.read_csv('pokemon_data.csv',sep=",")
pokemon
 
    #CREAR COLUMNA--->interes Y LE ASIGNA EL VALOR DE False
pokemon['interes']='False'
pokemon
 
    #CONSULTAR VALORES A POKEMONES legendary=True Y Type1=Fire QUE TIENEN EN interes=False
a=pokemon.loc[(pokemon['Legendary']== True) & (pokemon['Type 1'] =='Fire')]
a

    #CAMBIAR VALOR A POKEMONES legendary=True Y Type1=Fire 
pokemon.loc[((pokemon['Legendary']== True) & (pokemon['Type 1'] =='Fire')), ['interes'] ]= True
pokemon

    #CONSULTAR LOS DATOS DE interes =True
pokemon.loc[(pokemon['Legendary']== True) & (pokemon['Type 1'] =='Fire')]

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  interes
158  146    Moltres   Fire  Flying  ...     90           1       True     True
263  244      Entei   Fire     NaN  ...    100           2       True     True
270  250      Ho-oh   Fire  Flying  ...     90           2       True     True
542  485    Heatran   Fire   Steel  ...     77           4       True     True
799  721  Volcanion   Fire   Water  ...     70           6       True     True

[5 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [112]:
    #AGRUPACIÓN DE LOS DATOS POR Type 1
a=pokemon.groupby(['Type 1'])

    #PROMEDIO DE LOS VALORES DE LA COLUMNA Attack SEGUN LA CLASIFICACION DE type 1
b=a['Attack'].mean()
print("El promedio de los datos Attack agrupado por Type 1 es: ","\n",b)

El promedio de los datos Attack agrupado por Type 1 es:
 Type 1
Bug          70.971014
Dark         88.387097
Dragon      112.125000
Electric     69.090909
Fairy        61.529412
Fighting     96.777778
Fire         84.769231
Flying       78.750000
Ghost        73.781250
Grass        73.214286
Ground       95.750000
Ice          72.750000
Normal       73.469388
Poison       74.678571
Psychic      71.456140
Rock         92.863636
Steel        92.703704
Water        74.151786
Name: Attack, dtype: float64

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [106]:
#CARGAR ARCHIVO
duk = pd.read_csv('DUK.csv',sep=",")
duk

#CONVERTIR LOS DATOS DE DATE DE STRING A FECHA
duk['Date'] = pd.to_datetime(duk['Date'])
#print(open.dtypes)

#AGRUPA LOS DATOS DEL AÑO 2015
anual=duk[ (duk['Date'] >= '2015-01-01') & (duk['Date'] <= '2015-12-31')]
#print(anual)

#PROMEDIO DE LA COLUMNA OPEN PARA EL AÑO 2015
promedio=anual['Open'].mean()
print("El promedio de OPEN 2015 es: ",promedio)

El promedio de OPEN 2015 es:  74.8137697698413