<a href="https://colab.research.google.com/github/clargote/mujeresDigitales/blob/main/TareaClase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Constantes

In [5]:
pi=3.1416
iva=0.19


print(pi)
print(iva)

3.1416
0.19

Variables

In [15]:
edad=8
ciudad="Cali"


print(edad)
print(ciudad)

4
Cali

**Tipo de datos**
---
*Enteros*

In [14]:
pasaje=int(2200)
print(pasaje)


deuda=int(-256)
print(deuda,type(deuda))

2200
-256 <class 'int'>

*Float*

In [13]:
costo=float(158895.25)
print(costo)

presupuesto=float(78952114.415)
print(presupuesto, type(presupuesto))

158895.25
78952114.415 <class 'float'>

*Tipo cadena*

In [19]:
planta="suculentas"
especie="Graptopetalum Paraguayense"
print("Me gustan las",planta, "en especial la",especie)

deporte="natación"
jornada="mañana"
print("Las clases de "+ deporte+ " estan en el horario de la "+jornada)

Me gustan las suculentas en especial la Graptopetalum Paraguayense
Las clases de natación estan en el horario de la mañana

*Tipo Booleano*

In [26]:
x=True
y=False
print(x,type(x))
print(y,type(y))

True <class 'bool'>
False <class 'bool'>

*Conjuntos*

In [29]:
tamaño= "grande","mediano","pequeño"
print(tamaño)

electrodomesticos="estufa","televisor","ventilador","nevera"
print(electrodomesticos)

print(tamaño,electrodomesticos)

('grande', 'mediano', 'pequeño')
('estufa', 'televisor', 'ventilador', 'nevera')
('grande', 'mediano', 'pequeño') ('estufa', 'televisor', 'ventilador', 'nevera')

*Listas*

In [39]:
info=["1","cactus","suculenta","aloe"]
print(info)

cosa=["mesa","carro","casa","perro"]
cosa1=cosa[3]
print(cosa1)

['1', 'cactus', 'suculenta', 'aloe']
perro

*Tuplas*

In [41]:
pa="arroz",4,"papa"
print(pa)

ma=pa,("verde","amarillo")
print(ma)

('arroz', 4, 'papa')
(('arroz', 4, 'papa'), ('verde', 'amarillo'))

*Diccionarios*